<!DOCTYPE html>
<html>
<head>
    <title></title>
    <style>
        table, th, td {
            border: 1px solid black;
            padding: 5px;
        }
    </style>
</head>
<body>
<h2>Lista de Pagamentos</h2>

<form method="get" action="{{ search_path }}">
    <fieldset>
        <legend>Parâmetros de busca</legend>
        Status:
        <select name="status">
            <option {{ 'selected="selected"'|safe if not status }} value="">Qualquer</option>
            {% for st in statuses %}
                <option  {{ 'selected="selected"'|safe if status==st }} value="{{ st }}">{{ st }}</option>
            {% endfor %}
        </select>
        <br/><br/>
        <button type="submit">Procurar</button>
    </fieldset>

</form>
<br>

<h2>Resultado de busca de pagamentos com status "{{ status or 'Qualquer' }}"</h2>
{% if has_next_page %}
    <a href="{{ next_page_path }}">Próxima Página &raquo;</a>
{% else %}
    Não há mais páginas
{% endif %}
<table style="">
    <thead>
    <tr>
        <th>Data</th>
        <th>Status</th>
        <th>Código Pagseguro</th>
        <th>Valor</th>
        <th></th>
        <th></th>
    </tr>

    </thead>
    <tbody>
    {% for pay in payments %}
        <tr>
            <td>{{ pay.creation }}</td>
            <td>{{ pay.status }}</td>
            <td>{{ pay.code }}</td>
            <td>{{ pay.total }}</td>
            <td>
                <a href="{{ detail_path }}/{{ pay.key.id() }}">Detalhar</a>
            </td>
            <td>
                <a href="{{ log_path }}/{{ pay.key.id() }}">Histórico</a>
            </td>
        </tr>
    {% else %}
        <tr>
            <td>Nenhum pagamento realizado</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

</body>
</html>