<!DOCTYPE html>
<html>
<head>
    <title></title>
    <style type="text/css">
        .error {
            color: red;
        }
    </style>
</head>
<body>
<h2>Formulário de Pagamento</h2>

<form action="{{ payment_path }}" method="post">
    {% set errors=errors or {} %}
    {% macro input(name,value=None,error='') %}
        {% if error %}
            <div class="error">{{ error }}</div>
        {% endif %}
        {{ name }}:<input type="text" value="{{ value or '' }}" name="{{ name }}"/><br/>
    {% endmacro %}
    <fieldset>
        <legend>Dados do Usuário</legend>
        {{ input('client_name',client_name,errors.get('client_name')) }}
        {{ input('client_email',client_email,errors.get('client_email')) }}
    </fieldset>
    <fieldset>
        <legend>Item 1</legend>
        {% set item_list_errors=errors.get('items') %}
        {% set item_errors= item_list_errors[0] if item_list_errors else {} %}
        {% set item= items[0] if items else {} %}

        {{ input('description[]',item.get('description'),item_errors.get('description')) }}
        {{ input('quantity[]',item.get('quantity'),item_errors.get('quantity')) }}
        {{ input('price[]',item.get('price'),item_errors.get('price')) }}
    </fieldset>
    <fieldset>
        <legend>Item 2</legend>
        {% set item_list_errors=errors.get('items') %}
        {% set item_errors= item_list_errors[1] if item_list_errors else {} %}
        {% set item= items[1] if items else {} %}

        {{ input('description[]',item.get('description'),item_errors.get('description')) }}
        {{ input('quantity[]',item.get('quantity'),item_errors.get('quantity')) }}
        {{ input('price[]',item.get('price'),item_errors.get('price')) }}
    </fieldset>
    <fieldset>
        <legend>Endereço</legend>
        {{ input('street',street,errors.get('street')) }}
        {{ input('number',number,errors.get('number')) }}
        {{ input('quarter',quarter,errors.get('quarter')) }}
        {{ input('postalcode',postalcode,errors.get('postalcode')) }}
        {{ input('town',town,errors.get('town')) }}
        {{ input('state',state,errors.get('state')) }}
        {{ input('complement',complement,errors.get('complement')) }}
    </fieldset>
    <button type="submit">Pagar</button>
</form>

</body>
</html>