<!DOCTYPE html>
<html>
<head>
    <title></title>
    <style>
        table, th, td {
            border: 1px solid black;
            padding: 5px;
        }
    </style>
</head>
<body>
<h2>Lista de Pagamentos</h2>

<table style="">
    <thead>
    <tr>
        <th>Data</th>
        <th>Status</th>
        <th>Código Pagseguro</th>
        <th>Valor</th>
        <th></th>
    </tr>

    </thead>
    <tbody>
    {% for pay in payments %}
        <tr>
            <td>{{ pay.creation }}</td>
            <td>{{ pay.status }}</td>
            <td>{{ pay.code }}</td>
            <td>{{ pay.total }}</td>
            <td>
                <a href="{{ detail_path }}/{{ pay.key.id() }}">Detalhar</a>
            </td>
        </tr>
    {% else %}
        <tr><td>Nenhum pagamento realizado</td></tr>
    {% endfor %}
    </tbody>
</table>

</body>
</html>